
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  width: 100wh;
  font-size: 18px;
  font-family: 'Roboto Condensed', 'Montserrat' !important;
  background-color: rgba(0,91,150);
  color: 000;
}

h2.title.podcast {
  margin-top: 0;
  padding-bottom: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.main-title {
  font-family: 'Bebas Neue', cursive;
  padding-bottom: 50px;
  margin-bottom: 0 !important;
  color: #000;
}

li {
  margin: 15px 0;
}

p {
  display: unset;
  color: #a3a3a0;;
}

p a, a, .contacts a{
  text-decoration: none;
  color: #a3a3a0;
}

footer .container-fluid {
  margin: 10px 0;
}

ol, ul {
    list-style: none;
    padding-left: 0rem !important;
}

h2.title {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
  font-size: 35px;
}

h5.card-title {
  font-size: 2.3rem;
}

span.wrap {
  color: #212529;
  font-size: 60%;
}

.avatar img {
  margin: 2rem;
  width: 30%;
  height: 126;
  border-radius: 100%;
  display: block;
  margin-left: 33%;
  margin-right: auto;
}

.my-profile {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: absolute;
}

.container-fluid .col-sm {
  margin: 1px;
}

.name {
  font-family: 'Otomanopee One', sans-serif;
  font-size: 300%;
  color: #000;

}

.profile {
  text-align: center;
  color: #ffff;
  letter-spacing: 5px;
  padding-bottom: 1rem;
}

.typewrite {
  font-family: 'Shadows Into Light Two', cursive;
}

.about-me {
  text-align: center;
}

.title {
  margin: 0;
  font-weight: bolder;
  color: #212529;
}

.about-text, .descriptions, .freetime {
  height: 400px;
  width: 100%;
}

p.personality {
margin-top: 5rem;
}

.descriptions {
  position: relative;
  background: rgb(0, 181, 204);, 1
;
}

.text-description p {
   text-align: center;
    padding: auto;
    color: white;
    font-size: 20px;
}

.freetime {
      position: relative;
      background: #212529;
  }

.freetxt {
  color: #EBD4D4;
  font-size: 80%;
  padding-top: 3rem;
}

.freetime::before {
  content: "";
  width: 50%;
  height: 120px;
  position: absolute;
  top: -70px;
  left: 0;
  background: #212529;
  transform: skewY(8deg);
}

.freetime::after {
  content: "";
  width: 50%;
  height: 120px;
  position: absolute;
  top: -70px;
  right: 0;
  background: #212529;
  transform: skewY(-8deg);
}

.mb-3 {
  margin-top: 1rem;
}

.container {
  position: relative;
  width: 80%;
}

.image {
  opacity: 1;
  display: flex;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wrap {
  background-image: linear-gradient( 35deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 60%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0.6) 100% ), url('../images/background.jpg');
  display: -webkit-flex;
  display: inline-block;
  flex-wrap: wrap;
  max-width: 100%;
}

.middle {
  top: 50%;
  left: 50%;

}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(203, 200, 200);
  color: #212529;
  font-size: 12px;
  padding: 16px 32px;
}

.card-title {
  font-family: 'Bebas Neue', cursive;
}

.card-body {
  padding: 1rem 4rem !important;
}

.podcast {
}


.project-img {
  width: 385px;
  height: auto;
  padding: 2rem;
}

div {
  text-align: -webkit-center;
}

img {
  width: 350px;
  margin-bottom: 4 rem;
}

.icons {
  margin-top: -10px;
  padding-top: 20px;
  font-size: 1.7rem;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;

}

.card-text {
  font-size: 25px;
}

#contacts ul a {
  font-size: 100%;
  color: #fff;
  text-align: center;
  padding-left: 0 !important;
}

#contact-info {
  text-align: center;
  margin-bottom: 4rem;
}

.footer .fa-home:before {
  font-size: 40px;
}

.fa {
  display: inline-grid !important;
  color:  #EBD4D4 !important;
  text-decoration: none !important;
  text-align: center !important;
}

footer .fa:hover {
  color: rgba(0,91,150) !important;
}

.fa-home:before, .fa-envelope-square:before {
  font-size: 150%;
}


.fa-mobile-phone:before, .fa-mobile:before {
  font-size: 200%;
}

.footer {
  text-align: center;
}

.copyright {
  margin: 20px 0;
  padding: 5px;
  background-color: #EBD4D4;
  text-align: center;
  color: #968C83;
  width: 100%;
  font-size: 13px;
}


@media screen and (max-width: 1100px) {

  .text-description p {
    m-width: 100%;
    max-height: 100%;
    font-size: 100%;
  }

  h2.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 150%;
  }

  .freetxt {
    font-size: 72%;
    padding-top: 3rem;
    padding-right: 1rem;
  }

  h3 {
    padding-bottom: 5px;
  }

  h5.card-title, h2.title.podcast {
    font-size: 150%;
  }

  .card-text {
    font-size: 100%;
  }

  .project-img {
    padding: 1rem;
    width: 290px;
  }

  img.image {
    width: 45% !important;
  }

  ol, ul {
    padding-left: 0rem !important;
  }
}

@media screen and (min-width: 1101px) {

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  }
}

@media screen and (min-width: 1024px) {

  div.freetime {
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  .text-description p {
    font-size: 1.2rem;
  }

}
